.nav {
    grid-area: n;
    background-color: lightsteelblue;
}

.item a {
    text-decoration: none;
    float:left;
    color: #111111;
    text-align: center;
    padding: 10px 10px;
    font-family: Arial;

}

.item a:hover {
    background-color: #e5e0e0;
    border-radius: 18px;
}

.item a.activeLink {
    color: #eae0e6;
}


/*.item img {*/
/*    width: 400px; !* Ширина изображений *!*/
/*    height: 200px; !* Высота изображении *!*/
/*    object-fit: cover; !* Вписываем фотографию в область *!*/
/*}*/