
.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    /*здесь мы вставляем много частей/территорий, по какому шаблону построена */
    /* у нас две калонки и две строки*/
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows:60px 1fr; /*говорим сколько будет строк -1 хедер и 2 колонки */
    grid-template-columns: 2fr 10fr; /*сколько частей будет занимать одна колонка 2 к и 10*/
    grid-gap: 10px; /*растояние между колонками */
}

/*вставляем hnc*/
.app-wrapper-content {
    grid-area: c; /* одна часть /территория*/
    background-color: lightblue;
}




