
.dialogs  {
    display:grid;
    grid-template-columns: 1fr 3fr;

}


.dialogsItems {
    padding: 40px;
}

.dialogsItems .active {
    color: gold;
}


.messages {
    padding: 10px;

}

.messages.message {
    padding: 10px;

}


